@()
@defining(1) { version =>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Backdoor</title>
    <link href="@routes.Assets.at("backdoor.css?=" + version)" rel="stylesheet">
  </head>
  <body>
    <div id="terminal">
      <div id="output"></div>
      <form action="/post">
        <label class="clearfix">
          <span id="prompt"></span>
          <input name="command" type="text" />
        </label>
      </form>
    </div>
    <script src="@routes.Assets.at("jquery.min.js")"></script>
    <script src="@routes.Assets.at("backdoor.js?=" + version)"></script>
  </body>
</html>
}
